*.log
*.ccerr
*.pro
*.profile
*.csv
pts2o1h
pts3o3h
pts2o1h_opt
pts3o3h_opt
pts2o1h.cpp
pts2o1h_opt.cpp
pts2o1h*.cpp
pts3o3h.cpp
pts3o3h_opt.cpp
pts2o1h_interface*
pts3o3h_interface*
pts2o1h_unfold
pts3o3h_unfold
findeqv
findeqv_type
findeqv_insens
findeqv_fixpt
applyreplace
composite
profiler_html/
*.swp
*~
*.pyc
