*.log
*.ccerr
*.pro
*.profile
pts2o1h
pts3o3h
pts2o1h_opt
pts3o3h_opt
pts2o1h.cpp
pts2o1h_opt.cpp
pts3o3h.cpp
pts3o3h_opt.cpp
pts2o1h_genclass*
pts3o3h_genclass*
pts2o1h_inspect
pts3o3h_inspect
findeqv
findeqv_type
findeqv_insens
findeqv_fixpt
applyreplace
composite
profiler_html/
